body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.players-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.player {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.player:hover {
    transform: scale(1.05);
}

.player img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
}

.player h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

.player p {
    margin: 8px 0;
    font-size: 0.9em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.psg {
    width: 5em;
}
.morocco {
    width: 1em;
}
.nassr {
    width: 5em;
}
.senegal {
    width: 1em;
}
.fifa {
    width: 5em;
}
.dz {
    width: 1em;
}
.ahli {
    width: 5em;
}
.egipto {
    width: 1em;
}
.liverpool {
    width: 5em;
}
.Senegal {
    width: 1em;
}
.ahlii {
    width: 5em;
}
.maroc {
    width: 1em;
}
.hilal {
    width: 5em;
}
.ghana {
    width: 1em;
}
.arsenal {
    width: 5em;
}
.Marroc {
    width: 1em;
}
.chelsea {
    width: 5em;
}
